:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0 0 50px 0;
  font-family: 'Zen Kurenaido', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

h2 {
  font-family: Rubik Pixels, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
