:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin-bottom: 50px;
  font-family: 'Zen Kurenaido', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

h2 {
  font-family: Rubik Pixels, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
